{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <h1>Event index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_event</th>
                <th>Date_event</th>
                <th>Adress_event</th>
                <th>Description</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.nomEvent }}</td>
                <td>{{ event.dateEvent ? event.dateEvent|date('Y-m-d') : '' }}</td>
                <td>{{ event.adressEvent }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.image }}</td>
                <td>
                    <a href="{{ path('app_event_show', {'id': event.id}) }}"class = "btn btn-info">show</a>
                    <a href="{{ path('app_event_edit', {'id': event.id}) }}"class = "btn btn-primary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_event_new') }}" class = "btn btn-success">Create new</a>
{% endblock %}
