{% extends 'base.html.twig' %}

{% block title %}Reclamation{% endblock %}

{% block content %}

{% block body %}
    <h1>Reclamation</h1>

    <div class="span8">
            <h6>id: {{ reclamation.id}}</h6>
            <h6>Description: {{reclamation.description}}</h6>
            <h6>Sujet: {{reclamation.Sujet}}</h6>
        </div>

    <a href="{{ path('app_reclamation_index') }}">back to list</a>

    <a href="{{ path('app_reclamation_edit', {'id': reclamation.id}) }}">edit</a>

    {{ include('reclamation/_delete_form.html.twig') }}
{% endblock %}
{% endblock %}
